In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
ds_India=pd.read_csv('Against India.csv')[:50]
ds_Aus=pd.read_csv('Against Australia.csv')[:50]
ds_complete=ds_India.append(ds_Aus)
ds_complete['Team']=ds_complete['Player'].apply(lambda x: x[x.find("(")+1:x.find(")")])

In [3]:
ds_complete=ds_complete[(ds_complete['Team']=='INDIA') | (ds_complete['Team']=='AUS') ]

In [4]:
ds_complete=ds_complete.sort_values(by=['Ave'], ascending=False)

In [5]:
ds_complete['Player'].unique()

array(['GJ Bailey (AUS)', 'RG Sharma (INDIA)', 'MEK Hussey (AUS)',
       'JP Faulkner (AUS)', 'ML Hayden (AUS)', 'V Kohli (INDIA)',
       'SPD Smith (AUS)', 'MG Bevan (AUS)', 'A Jadeja (INDIA)',
       'AM Rahane (INDIA)', 'DC Boon (AUS)', 'VVS Laxman (INDIA)',
       'SE Marsh (AUS)', 'MS Dhoni (INDIA)', 'DA Warner (AUS)',
       'AJ Finch (AUS)', 'SR Tendulkar (INDIA)', 'DM Jones (AUS)',
       'AR Border (AUS)', 'A Symonds (AUS)', 'S Dhawan (INDIA)',
       'DB Vengsarkar (INDIA)', 'SM Gavaskar (INDIA)'], dtype=object)

In [6]:
squad=['RG Sharma (INDIA)', 'V Kohli (INDIA)','MS Dhoni (INDIA)','S Dhawan (INDIA)','SE Marsh (AUS)','AJ Finch (AUS)', 
       'GJ Maxwell', 'B Kumar', 'RA Jadeja','PJ Cummins','Mohammed Shami', 'YS Chahal','JJ Bumrah']
ds_complete['In Squad']=ds_complete['Player'].apply(lambda x:'Yes' if x in squad else 'No')
ds_complete[ds_complete['In Squad']=='Yes']

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team,In Squad
0,RG Sharma (INDIA),2007-2019,31.0,31.0,4.0,1778.0,209,65.85,1828.0,97.26,7.0,5.0,1.0,141,66,INDIA,Yes
6,V Kohli (INDIA),2009-2019,31.0,29.0,3.0,1335.0,118,51.34,1430.0,93.35,6.0,5.0,2.0,118,15,INDIA,Yes
26,SE Marsh (AUS),2009-2019,11.0,11.0,0.0,508.0,131,46.18,599.0,84.80,2.0,3.0,1.0,39,6,AUS,Yes
17,MS Dhoni (INDIA),2006-2019,51.0,44.0,10.0,1548.0,139*,45.52,1923.0,80.49,2.0,10.0,2.0,101,30,INDIA,Yes
31,AJ Finch (AUS),2013-2019,20.0,19.0,0.0,856.0,124,45.05,1001.0,85.51,2.0,6.0,0.0,88,18,AUS,Yes
29,S Dhawan (INDIA),2010-2019,18.0,18.0,1.0,681.0,126,40.05,699.0,97.42,2.0,4.0,2.0,83,6,INDIA,Yes

# Based on Average against Other Team Rohit Sharma will be the Top Run Scorer from India and Shaun Marsh from Australia
# Series Top Run Scorer will be Rohit Sharma
# Most 4s V Kohli 
# Most 6s Rohit Sharma

In [8]:
ds_India_b=pd.read_csv('Bowling India.csv')[:36]
ds_India_b['Team']='INDIA'
ds_Aus_b=pd.read_csv('Bowling Australia.csv')[:43]
ds_Aus_b['Team']='AUS'
ds_complete_b=ds_India_b.append(ds_Aus_b)

In [9]:
ds_complete_b=ds_complete_b[(ds_complete_b['Team']=='INDIA') | (ds_complete_b['Team']=='AUS') ]

In [10]:
ds_complete_b=ds_complete_b.sort_values(by=['SR'])

In [11]:
ds_complete_b['In Squad']=ds_complete_b['Player'].apply(lambda x:'Yes' if x in squad else 'No')
ds_complete_b[ds_complete_b['In Squad']=='Yes']

,Player,Span,Mat,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Team,In Squad
2,Mohammed Shami,2013-2019,59.0,2997.0,2738.0,108.0,4/35,25.35,5.48,27.7,6.0,0.0,INDIA,Yes
0,JJ Bumrah,2016-2018,44.0,2212.0,1639.0,78.0,5/27,21.01,4.44,28.3,4.0,1.0,INDIA,Yes
1,YS Chahal,2016-2019,40.0,2113.0,1692.0,71.0,6/42,23.83,4.80,29.7,1.0,2.0,INDIA,Yes
25,PJ Cummins,2011-2018,42.0,2184.0,1933.0,65.0,4/24,29.73,5.31,33.6,4.0,0.0,AUS,Yes
25,B Kumar,2012-2019,103.0,4925.0,4094.0,114.0,5/42,35.91,4.98,43.2,3.0,1.0,INDIA,Yes
24,RA Jadeja,2009-2019,147.0,7429.0,6055.0,171.0,5/36,35.40,4.89,43.4,7.0,1.0,INDIA,Yes
41,GJ Maxwell,2012-2019,90.0,2020.0,1885.0,46.0,4/46,40.97,5.59,43.9,2.0,0.0,AUS,Yes

# Based on Strike Rate against Other Team Mohammed Shami will be the Top Wicket Taker from India and Pat Cummins from Australia
# Series Top Wicket Taker will be Mohammed Shami